body{
    background: #e4e4e4;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 70px;
    color: black;
}

.container-or {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vh;
    height: auto;
    border: 2px double black;
} 

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.alinhar {
    display: flex;
    text-align: center;
    flex-direction: column;
}

textarea {
    min-height: 45px;
    max-height: 45px;
}

