.card-wrap {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    align-items: center;
    color: black;

}

.card-wrap:hover {
    transform: scale(1.03);
    transition: all 2s ease;
    box-shadow: 10px #ffffffbe;
}

.card-wrap img {
    width: 500px;
    height: auto;

}

.card-wrap h2 {
    font-size: auto;
}

.card-wrap p {
    font-size: 15px;
}
